.arduino-create/
.bash_profile
.bashrc
.cache/
.conda/
.config/
.gitconfig
.keras/
.labelImgSettings.pkl
.matplotlib/
.vscode/
AppData/
Contacts/
7.- Info para Proveedores/
Microsoft Edge.lnk
MongoDBCompass.lnk
OneDrive Photos.lnk
Postman Agent.lnk
Visual Studio Code.lnk
desktop.ini
logo2.png
proyecto/
video_dahua.avi
Documents/
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{f85b17d7-9447-11ee-af10-b81ea48afbb8}.TM.blf
NTUSER.DAT{f85b17d7-9447-11ee-af10-b81ea48afbb8}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{f85b17d7-9447-11ee-af10-b81ea48afbb8}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
_netrc
analitica/
miniconda3/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
ventas-mapuche/
# Ignorar archivos grandes
*.mp4
*.zip
*.tar.gz
/uploads/
